#searchPage {
    font-size: 25px;
}

#searchPage > .title {
    font-size: 50px;
    padding-bottom: 5px;
}

#searchPage > .separator {
    border: 1px solid transparent;
    padding-top: 1.5%;
    padding-left: 2%;
    padding-bottom: 1.2%;
}

#searchPage > .separator > .image {
    float: left;
    padding-right: 5%;
    padding-top: 10px;
}

#searchPage > .separator > .productName {
    padding-top: 10px;
}

#searchPage > .separator > .productName > a {
    color: black;
    text-decoration: none;
    font-size: 30px;
}

#searchPage > .separator > .productName > a:hover {
    text-decoration: none;
    color: #FF9900;
    cursor: pointer;
    font-size: 30px;
}

#searchPage > .separator > .infoProduct {
    padding-top: 10px;
}

#searchPage > .separator > h2 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: -3px;
}
